<h1>HomeProducts#products_by_room</h1>
<p>Find me in app/views/home_products/products_by_room.html.erb</p>
<section id="pre-content">
  <div class = "pre-content-inner">
    <div class = "container">
        <div class = "sixteen columns">
          <div class = "space-title">
            <h1 class = "page-title" >
                 <% @room %>
            </h1>
          </div>
        </div>
    </div>
  </div>
  <ul>
  <section id= "main-container" class ="container" role = "main">
    <div id="main" class ="sixteen columns content">
      <article id="post-576"class ="post-576 page type-page status-publish hentry page-single clearfix" >
        <%= @home_product_by_room.each do |homeproduct|  %>
          <div class="asc-columns one_fourth">
              <div class = "asc-frame">
                <span >
                  <ul class="title">
                  <%= link_to homeproduct.name, homeproduct_path(homeproduct) %>
                  </ul>
                  <ul class = "image">
                    <%link_to homeproduct_path(homeproduct) do%>
                        <%= image_tag("/homeproduct/#{homeproduct.image_url}") %>
                    <%end%>
                  </ul>
                </span>
              </div>
          </div>

        <div class = "post-content">
            <span class ="orientation info">
            <p>" You are in the " </p>
                <%= link_to "home products", HomeProduct.index %>
            </span>
        </div>
      </article>
    </div>
  </section>
    <li> link_to All rooms ,   </li>
    <li> previous room </li>
    <li> next room </li>
  </ul>
</section>

