<div class="pre-content-inner">
  <div class="container">
    <div class="sixteen columns">
      <div class="space-title">
        <h1 class="page-title"><%=@distribution.name%></h1>
      </div>
    </div>
  </div>
</div>

<section id="main-container" class="container" role="main">
  <div id="main" class="sixteen columns content">

    <article>
      <div class="post-content">
        <div class="asc-columns one_third">
          <div class="asc-frame">
            <p><%= image_tag (@distributionImage), :style => "width='300' height='225'" %><a href="http://www.lant.it/wp-content/uploads/2013/05/vimercati-meda-showroom.jpg"><img class="alignnone size-medium wp-image-701" alt="A 6124" src="http://www.lant.it/wp-content/uploads/2013/05/vimercati-meda-showroom-300x225.jpg" width="300" height="225"></a></p>
          </div>
          <div class="asc-frame">
            <p><img class="alignnone size-medium wp-image-700" alt="furniture-rental-show-room11-copy" src="http://www.lant.it/wp-content/uploads/2013/05/furniture-rental-show-room11-copy-300x224.jpg" width="300" height="224"></p>
          </div>
          <div class="asc-frame">
            <p><img class="alignnone size-medium wp-image-699" alt="1357635516_furniture_showroom_meerut" src="http://www.lant.it/wp-content/uploads/2013/05/1357635516_furniture_showroom_meerut-300x177.jpg" width="300" height="177"></p>
          </div>
        </div>
        <div class="asc-columns one_half last">
          <h3><strong>Presentation</strong></h3>
          <p>Our wide product range includes traditional and modern furniture lines for the living and sleeping areas.<br>
            Our furniture collections are constantly updated with innovative designs to reflect the latest market trends.<br>
            Retailers will find it easy to meet the specific requirements of end customers thanks to our comprehensive array of products and finishes.</p>
          <div class="clearfix"></div>
          <div class="asc-divider divider"></div>
          <p>Offers <a class="more-link" href="#"><span> <span style="color: red; font-size: 13px; line-height: 19px;">Home products</span> </span></a></p>
          <p>Offers <a class="more-link" href="#"><span> <span style="color: red; font-size: 13px; line-height: 19px;">Workspace products</span> </span></a></p>
          <div class="clearfix"></div>
          <div class="asc-divider divider"></div>
          <p><a class="more-link" href="#"><span></span></a></p><a class="more-link" href="#">
          <h1><span style="color: #993366;"><strong>&nbsp;Map</strong></span></h1>
        </a><p><a class="more-link" href="#"></a></p>
          <div class="clearfix"></div>
          <div class="asc-divider divider"></div>
          <p>You are in the category <a class="more-link" href="#"><span> Showrooms </span></a></p>
          <p><a href="#" class="asc-button small gray"><span> Previous </span></a> <strong>……</strong> <a href="#" class="asc-button small gray"><span> Next</span></a></p>
          <p><a href="#" class="asc-button small light"><span> All Showrooms </span></a></p>
          <p>&nbsp;</p>
        </div>
        <div class="clearfix"></div>
      </div>
    </article>
  </div>
</section>