<section id="pre-content">

  <div class="pre-content-inner">

    <div class="container">

      <div class="sixteen columns content">
        <div class="space-pre">
          <div class="asc-columns one_half">



            <p><img class="scale-with-grid " src="http://www.lant.it/wp-content/uploads/2013/05/top_new.png" alt=""></p>


          </div>
          <div class="asc-columns one_half last">
            <h1>JCL Interior Design</h1>
            <p>It is the aim of JCLDesign&nbsp;to be a proactive, exciting and inspiring furniture store that will keep up with the latest trends. Together with our members of staff we will provide the best furniture sales service in Italy and via our payoff, we will supply our customers with the best products at the best price. We stand for elegance, rural living, cosiness and warmth. Allow your dreams to materialise with JCLDesign. We bring you quality and stylish products for less.</p>
            <p>&nbsp;</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>

    </div>

  </div>






  <section id="main-container" class="container" role="main">

    <div id="main" class="sixteen columns content">

      <div class="post-content">
        <div style="text-align: center;">
          <div class="asc-columns one_third">
            <p><img class="scale-with-grid " src="http://www.lant.it/wp-content/uploads/2013/05/InteriorDesPort.png" alt=""></p>
            <h3>Interior Design Portfolio</h3>
            <p>Our portfolio to show to you our vision in best products in more of 50 country</p>
            <p><a class="more-link" href="#"><span></span></a><a title="Company" href="http://www.lant.it/?page_id=571">Read more</a></p>
          </div>
          <div class="asc-columns one_third">
            <p><img class="scale-with-grid " src="http://www.lant.it/wp-content/uploads/2013/05/LatestEvents.png" alt=""></p>
            <h3>Latest Events</h3>
            <p>In New York was a screaming success, with new product launches, new exhibitors, and buzzing crowds raving about it all. See our top new product picks from the show floor.</p>
            <p><a class="more-link" href="#"><span></span></a><a title="Magazine" href="http://www.lant.it/?page_id=163">Read more</a></p>
          </div>
          <div class="asc-columns one_third last">
            <p><img class="scale-with-grid " src="http://www.lant.it/wp-content/uploads/2013/05/LatestTopClients_.png" alt=""></p>
            <h3>Latest Top Clients</h3>
            <p>In recent months have added several major customers increasingly consolidating our market leadership in the field of interior design.</p>
            <p><a class="more-link" href="#"><span></span></a><a title="Top Clients" href="http://www.lant.it/?page_id=24">Read more</a></p>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="asc-divider divider"></div>

        <div class="asc-work">

          <div class="teaser"><h3>Latest Home Products</h3>
            <p>Here are the products for your home that have been most successful based on sales</p>
            <p><a class="more-link" href="#"><span>Read more</span></a></p>
          </div>

          <div class="es-carousel-wrapper">
            <div class="es-carousel carousel-work">

              <ul style="width: 874px; margin-left: 0px;">
                <li style="margin-right: 30px; width: 210px;">
                  <div class="post-thumb">
                    <a class="zoom" href="" title="Singapore – Design" rel="prettyPhoto">
                      <img src="http://www.lant.it/wp-content/uploads/2013/05/leather20armchair.png" alt="">									<span class="zoom-overlay"></span>
                      <span class="zoom-hover video"></span>
                    </a>
                  </div>
                  <div class="work-inner">
                    <h4 class="post-title"><a href="http://www.lant.it/?work=work-title-vimeo" title="Singapore – Design">Singapore – Design</a></h4>
                  </div>
                </li>
                <li style="margin-right: 30px; width: 210px;">
                  <div class="post-thumb">
                    <a class="zoom" href="http://www.lant.it/?work=work-title-gallery" title="Tokyo – Gallery">
                      <img src="http://www.lant.it/wp-content/uploads/2013/05/Belvedere-Apartment-II-04-300x200.jpg" alt="">									<span class="zoom-overlay"></span>
                      <span class="zoom-hover "></span>
                    </a>
                  </div>
                  <div class="work-inner">
                    <h4 class="post-title"><a href="http://www.lant.it/?work=work-title-gallery" title="Tokyo – Gallery">Tokyo – Gallery</a></h4>
                  </div>
                </li>
                <li style="margin-right: 30px; width: 210px;">
                  <div class="post-thumb">
                    <a class="zoom" href="" title="Osaka Interior" rel="prettyPhoto">
                      <img src="http://www.lant.it/wp-content/uploads/2013/05/Belvedere-Apartment-II-16-300x200.jpg" alt="">									<span class="zoom-overlay"></span>
                      <span class="zoom-hover video"></span>
                    </a>
                  </div>
                  <div class="work-inner">
                    <h4 class="post-title"><a href="http://www.lant.it/?work=work-title-youtube" title="Osaka Interior">Osaka Interior</a></h4>
                  </div>
                </li>
              </ul>

              <div class="es-nav"><span class="es-nav-prev stop">Previous</span><span class="es-nav-next stop">Next</span></div></div>
          </div>

        </div>

        <div class="clearfix"></div>
        <div class="asc-divider divider"></div>
        <div class="clearfix"></div>


      </div>



    </div>

  </section>