<section class="container">
  <div class="orientationInfo">
      <h1> Company Identity </h1>
  </div>
  <div id="structuralLink">
      <h1> <%= link_to '<History page', :historyPage %> </h1>
  </div>
</section>