<section id="pre-content">
  <div class="pre-content-inner">
    <div class="container">
      <div class="sixteen columns">
        <div class="space-title">
          <h1 class="page-title">Company identity</h1>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="main-container" class="container">
  <div id="main">
    <article>
      <div class="post-content">
        <h6>It is the aim of JCLDesign&nbsp;to be a proactive, exciting and inspiring furniture store that will keep up
          with the latest trends.</h6>
        <h6>Together with our members of staff we will provide the best furniture sales service in Italy and via our
          payoff, we will supply our customers with the best products at the best price.</h6>
        <h6>We stand for elegance, rural living, cosiness and warmth. Allow your dreams to materialise with JCLDesign.
          We bring you quality and stylish products for less.</h6>

        <p><span><strong><%= link_to 'Company History', history_path %></strong></span></p>
        <h6><span style="font-size: 13px;">
        <div class="clearfix"></div>
        <div class="asc-divider divider"></div>
        <p></p></span></h6>
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <p>
              <img src="http://www.lant.it/wp-content/uploads/2013/05/workspace-annex-with-moutain-and-river-views-300x200.jpeg" width="300" height="200">
            </p>
          </div>
        </div>
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <a href="http://www.lant.it/wp-content/uploads/2013/05/white-brick-walled-workspace-with-room-spanning-desks-and-windows-600x475.jpg"><img  src="http://www.lant.it/wp-content/uploads/2013/05/white-brick-walled-workspace-with-room-spanning-desks-and-windows-600x475-300x237.jpg" width="240" height="190"></a>
          </div>
        </div>
        <div class="asc-columns one_fourth">
          <div class="asc-frame">
            <a href="http://www.lant.it/wp-content/uploads/2013/05/Saota-wood-panelled-office-with-ocean-views-600x398.jpeg"><img  src="http://www.lant.it/wp-content/uploads/2013/05/Saota-wood-panelled-office-with-ocean-views-600x398-300x199.jpeg" width="300" height="199"></a>
          </div>
        </div>
        <div class="asc-columns one_fourth last">
          <div class="asc-frame">
            <a href="http://www.lant.it/wp-content/uploads/2013/05/Team-7-blonde-wood-framed-windows-in-home-office-with-contrasting-wooden-desk-600x450.jpg"><img  src="http://www.lant.it/wp-content/uploads/2013/05/Team-7-blonde-wood-framed-windows-in-home-office-with-contrasting-wooden-desk-600x450-300x225.jpg" width="300" height="225"></a>
          </div>
        </div>
        <div class="clearfix"></div>

      </div>

    </article>
  </div>
</section>