// Place all the styles related to the HomeProducts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.transition-link {
  background: #CCCCCC;
  padding: 15px 15px;
  position:relative;
  display:inline-block;

}
.transition-content {
  list-style-type:square;
  margin-left:300px;
  margin-right :300px;
  border-top-color: #f4f4f4;
  border-top-width: 5px;
  }
.hentry{
  width:100%;
}
.asc-frame {
  background-color:  #f4f4f4;
  border: 1px solid #c0c0c0;
  text-align:center;
  text-transform:uppercase;
  font: 30px Arial,Helvetica,sans-serif;
  color: #00adee;

}


.img{
  width: auto;
  height: auto;
}

.orientation-info > .container {
  color: #f4f4f4;
  padding: 15px 15px;
  position:relative;
  display:inline-block;
  font-size: 80px;

}



